<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - NewsID</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h1>Welcome to the NewsID App</h1>
    <p id ='text'>This project uses a Naive Bayes classifier to categorize articles into predefined labels. The goal of this project is to reduce the amount of work needed
        to be done by writers at the Guardian journal. Thanks to the Guardian API, this project generated a corpus of around 8000 documents, with a total number of words over 1,000,000.
        The Naive Bayes classifier was tested on a 30% split of these articles and had a F1 score of .78. To use this tool, click prediction and paste in a document. You will be able to
        see the estimated label for that text blurb. You can also head to the visualization page to see some more information about the corpus of documents.
    </p>
    <nav>
        <ul>
            <li><a href="{{ url_for('predict') }}">Prediction</a></li>
            <li><a href="{{ url_for('visualize') }}">Visualization</a></li>
        </ul>
    </nav>
</body>
</html>